/* CSS Document */
/* css reset www.admin10000.com */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal;}
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:blue; text-decoration:none; }
a:hover { text-decoration:underline; color:red }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.fl{float:left}
.fr{float:right}



button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    color: inherit;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
	
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #eeeeee url('../images/bg.png');
    color: #4d4d4d;
    width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.left{
	text-align:left;
}

.middle{
	text-align:center;
}

.right{
	text-align:right;
}



#hiGroup{
   padding:5px;
   border:1px solid #CCC;
   width:400px;
   height:590px;
   margin:0 auto;
   position:relative;
}

/*底部授权*/
#credits {
	position:absolute;
	text-align:center;
	margin-bottom:5px;
	width:100%;
	height:20px;
	bottom:2px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
}
/**************预览页面******************/
#div_preview_activity{
	
	
}

#div_preview_activity h1{
	margin:2px auto;
	text-align:center;
	font-size:24px;
	font-weight:bold;
	border:1px solid black;
	width:300px;
	height:24px;
	padding:5px;


}

#div_preview_activity strong{
	color:red;
	font-weight:bold;
}
#div_preview_activity .div_activity_content{
	padding:5px;
	width:380px;
	height:400px;
	//border:1px solid red;
	margin:10px auto;
}
#div_preview_activity .div_activity_content div{
	border:1px solid black;
	width:340px;
	height:200px;
	margin-left:12px;
	overflow:hidden;
	text-align:left;
	padding:5px;
}

#div_preview_activity .div_activity_content p{
	margin-bottom:10px;
}

.groupButton{
	margin:10px auto;
	text-align:center;
}

#btn_cancelActivity,#btn_okActivity{
	width:100px;
	height:40px;
	margin:10px;
}

/*************************************登陆界面样式******************************/

.backToMenu{

  position:absolute;
  left:10px;
  top:10px;

}

.goSignUp,.goLogIn{
  color:black;
  position:absolute;
  font-size:14px;
  top:13px;
  height:30px;
  width:50px;
  right:30px;
  color:#969696

}

#login,#signUp{
  // border:1px solid red;
   width:100%;
   height:400px;
   top:50px;
   position:relative;

}

/*登陆界面标题*/
#login h1,#signUp h1{
	border:1px solid black;
	width:300px;
	height:20px;
	font-size:20px;
	font-weight:bold;
	padding:13px;
	text-align:center;
	top:5px;
	left:36px;
	margin:0px 0px 0px 0px;
	/*margin:5px auto;*/
	
	
	
	
	
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	position:absolute;
	
	/*
	 position:absolute;
	 width:100%;
	 top:10px;
	text-align: center;
	 font-family:Arial, Helvetica, sans-serif;
	 */
	
}

#login dl,#signUp dl{
	width:300px;
	position:absolute;
	top:100px;
	margin:0 auto;
	padding:10px;
	left:40px;
	//border:1px solid black;

}

#login dd,#signUp dd{
//border:1px solid red;
margin-bottom:40px;
}

/*用户名输入icon*/
.icon_user{
	content:url(../images/icon_user2.png);
	width:30px;
	height:30px;
	//border:1px solid red;
	display:inline-block;
	position:relative;
	top:5px;
}
/*密码输入icon*/
.icon_password{
	content:url(../images/icon_lock.png);
	width:30px;
	height:30px;
	display:inline-block;
	position:relative;
	top:5px;
}

/*登陆按钮*/
#btn_log,#btn_signUp{
  width:250px;
  height:30px;
  background:#AEA9A9;
  color:#FFF;
  font-size:18px;
}

#btn_log:hover,#btn_signUp:hover{
  border:1px solid black;
}

/*body外框*/
/*#hiGroup h1{
	 position:absolute;
	 width:100%;
	 top:10px;
	text-align: center;
	 font-family:Arial, Helvetica, sans-serif;
}*/

/*显示当前用户*/
#activity_header_bar a{
	//border:1px solid #CCC;
	height:40px;
     float:right;
}

#activity_header_bar a:before{
	content:url(../images/icon_user.png);
	width:21px;
	height:21px;
	display:inline-block;
	top:3px;
	position:relative;
}

/*头部*/
#activity_header{
width:100%;
height:40px;
margin-bottom:10px;
}

#activity_header h1{
	//border:1px solid red;
	text-align:center;
	margin:5px auto;
	margin-top:10px;
	font-weight:bold;
	padding-left:85px;
}

/*长下滑线样式*/
.underline{
  width:250px;
  border-left:0;
  border-top:0;
  border-right:0;
  border-bottom:1px solid black;
  background:transparent;
  outline:none;
  padding-left:10px;
}
/*短输入线*/
.shortline{
  width:60px;
  border-left:0;
  border-top:0;
  border-right:0;
  border-bottom:1px solid black;
  background:transparent;
  outline:none;
  padding-left:5px;
}

#Activity dl dd{
margin-bottom:25px;

}
/*大段文字输入框*/
.txtArea{
	background:transparent;

	margin:10px;
	width:380px;
	height:200px;
	left: 4px;
	top: 294px;
}
/*活动发布预览按钮*/
#btn_previewActivity{
width:100px;
height:40px;
border:1px solid #CCC;
margin-left:150px;
margin-top:20px;
}

#btn_previewActivity:hover{

border:1px solid black;	
}

/*日历图标*/
#i_calendar{
background:url(../images/icon_calendar.png) no-repeat;
position:absolute;
left:340px;
top:100px;
width:28px;
height:28px;
display:block;
}

#i_calendar:hover{
	border:1px solid #733132;
}

//按钮按下
.pressDown{
position:relative;
left:1px;
top:1px;
border:1px solid red;
}


/*页脚*/
#footer {
    color: #777;
    padding: 0 15px;
    position: absolute;
    right: 0;
    bottom: 5px;
    left: 0;
    z-index: 1;
    text-align:right;
}